*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#ffffff;
color:#1a1a1a;
line-height:1.6;
}


/* NAVBAR */

.nav-bar{
background:white;
border-bottom:1px solid #e5e7eb;
}

.nav-container{
max-width:1100px;
margin:auto;
padding:20px;

display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
    font-size:22px;
    font-weight:700;
    letter-spacing:-0.5px;
    display:flex;
    align-items:center;
}

.logo-ensa{
    color:#1f2937;
}

.logo-signaler{
    color:#258643;
    margin-left:4px;
}

.nav-links{
display:flex;
gap:30px;
align-items:center;
list-style:none;
}

.nav-links li a{
    color:black;
}

.nav-links a{
text-decoration:none;
font-weight:500;
}

.nav-links a:hover{
color:#16a34a;
}


/* BUTTON */

.cta-btn{
background:#16a34a;
color:white;
padding:10px 18px;
border-radius:6px;
text-decoration:none;
font-weight:600;
transition:all .25s ease;
}

.cta-btn{
  color:white !important;
}

.cta-btn:hover{
background:#15803d;
}


/* HERO */

.hero-section{

max-width:1100px;
margin:auto;

display:flex;
align-items:center;
justify-content:space-between;

padding:80px 20px;
gap:60px;
}

.hero-content{
max-width:500px;
}

.hero-content h1{
font-size:60px;
font-weight:600;
line-height:1.2;
}

.green-color{
color:#16a34a;
font-style:italic;
}

.hero-description{
margin-top:20px;
color:#6b7280;
font-size:17px;
}

.hero-btn{
display:inline-block;
margin-top:30px;
font-size:16px;
}


/* HERO IMAGE */

.hero-image img{
  width:450px;
}


/* FEATURES SECTION */

.features{
    max-width:1100px;
    margin:80px auto;
    padding:0 20px;

    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

/* CARD BASE */

.feature-card{
    width:300px;
    height:200px;

    border-radius:20px;
    padding:20px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    color:white;
    position:relative;

    overflow:hidden;

    transition:all .25s ease;
}

.feature-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

/* TEXT */
.card-content{
    max-width:138px;
}
.card-content h3{
    font-size:18px;
    margin-bottom:8px;
}

.card-content p{
    font-size:14px;
    opacity:0.9;
}

/* IMAGE AREA */

.card-image{
    position:absolute;
    bottom:10px;
    right:10px;
}

.card-image img{
    width:120px;
    opacity:0.95;
}

.card-2 img{
    width:80px;

}

.card-3 img{
    width:140px;

}

/* COLORS */

.feature-card.green{
    background:#5db98b;
}

.feature-card.blue{
    background:#2f855a;
}

.feature-card.brown{
    background:#325e44;
}

footer p{
    text-align:center;
    padding:20px;
    color:#6b7280;
    font-size:14px;
}